<%= turbo_stream.update @starred_project.project %>
<%= turbo_stream.update @starred_project do %>
  <div class="fade-out" data-action="animationend->projects#remove">
    <%= render @starred_project.project %>
  </div>
<% end %>
