<div class=" grid grid-cols-12 grid-rows-2 py-2 border-b border-base-300">
  <div class="avatar col-span-2 row-span-2 grid place-content-center">
    <div class="rounded w-8 h-8">
      <img src="https://picsum.photos/300" alt="Project icon">
    </div>
  </div>

  <div class="row-start-1 col-start-3 col-span-8 truncate">
    <%= project.name %>
  </div>

  <div class="row-start-2 col-start-3 col-span-8 text-xs text-gray-600">
    <%= project.code %>
  </div>
  <div class="grid col-span-2 row-span-2 place-content-center">
    <%= star_icon(project) %>
  </div>
</div>
