<% provide :title, "New Project" %>
<% provide :without_navbar, true %>

<h1>Projects#new</h1>
<%= form_with scope: :project, url: projects_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit "Create" %>
<% end %>
